<ion-header>

  <ion-navbar color="primary" >
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <form [formGroup]="form" (submit)="signIn()" >
    <ion-list >
      <ion-item color="primary">
        <ion-label floating>Username</ion-label>
        <ion-input type="text" formControlName="username"></ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-label floating>Password</ion-label>
        <ion-input type="password" formControlName="password"></ion-input>
      </ion-item>
    </ion-list>
    <button type="submit" ion-button block [disabled]="form.invalid" clear color="light">
      Sign In
    </button>
  </form>
</ion-content>
