<ion-header>

  <ion-navbar>
    <ion-title>home</ion-title>
    <ion-buttons right>
      <button ion-button icon-only (click)="logout()">
        <ion-icon name="exit"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>
<ion-content padding>
</ion-content>
